.footer {
    text-align: center;
    position: relative;
    background-image: url('../images/footer-background.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;

    @media screen and (min-width: $bp-tablet) {
        text-align: left;
    }

    &::before,
    &::after {
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        content: '';
    }

    
    &::before {
        width: 180px;
        height: 120px;
        left: 0;
        background-image: url('../images/decor-bread-small.png');

        @media screen and (max-width: $bp-tablet) {
            display: none;
        }
    }

    &::after {
        width: 380px;
        height: 190px;
        right: 0;
        background-image: url('../images/decor-bread-big.png');

        @media screen and (max-width: $bp-tablet) {
            display: none;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }
    }

    &__nav,
    &__address {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            flex-basis: 50%;
        }
    }

    &__logo,
    &__menu  {
        flex-grow: 1;
    }

    &__address-list,
    &__address-info {
        flex-grow: 1;
        gap: 20px;
    }

    &__address-link {
        color: var(--color-primary-white);
        font-size: 16px;
        font-weight: 300;
        transition: color 0.2s;
    }

    &__address-link:hover {
        color: var(--color-brand);
    }

    &__address-icon {
        fill: var(--color-primary-white);
        transition: fill 0.2s;
    }

    &__address-icon:hover {
        fill: var(--color-brand);
    }

    &__address-copyright {
        font-size: 14px;
        color: #A18268;
    }
}