.chefs-section {
    &__title {
        position: relative;   
        margin: 0 auto 24px;
    }

    @media screen and (min-width: $bp-desktop) {
        margin-bottom: 80px;
    }

    &__title::after,
    &__title::before {
        display: none;
        position: absolute;
        bottom: 24px;
        width: 352px;   
        border: 2px solid #CFCFBC;
        content: '';

        @media screen and (min-width: $bp-desktop) {
            display: block;
        }
    }

    &__title::before {
        left: 0;
    }

    &__title::after {
        right: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px 30px;
        flex-wrap: wrap;

        @media screen and (min-width: $bp-tablet) {
            gap: 40px 30px;
            flex-direction: row;
        }
    }

    &__item {
        @media screen and (min-width: $bp-tablet) {
            flex-basis: calc((100% - 30px) / 2);
        }
    }
}
