.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    background-color: var(--color-primary-white);
    transform: translate(100%);
    transition: transform .3s;
    z-index: 4;

    &.is-open {
        transform: translate(0);
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
    }

    &__logo {
        margin-bottom: 32px;
    }

    &__link {
        font-size: 14px;
        color: var(--color-primary-dark);
        text-decoration: none;
        transition: all 0.3s linear;

        &:hover {
            font-weight: 600;
            color: #819B57;
        }
    }

    &__photo {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}